<!doctype html>
<html>
  <head>
    <title>{% block title %}Agenda Pyramid{% endblock %}</title>
    <link rel="stylesheet" href="{{ request.static_url('agenda:static/css/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ request.static_url('agenda:static/css/bootstrap-responsive.min.css') }}" >
  </head>
  <body>
    <div class="container">
      {% block content %}{% endblock %}
    </div>
    <script src="{{ request.static_url('agenda:static/js/bootstrap.min.js') }}"></script>
  </body>
</html>
